.App {
  text-align: center;
}

/* Change autofill background and text color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; /* Background color */
  -webkit-text-fill-color: #111827 !important; /* Text color (gray-900) */
  transition: background-color 5000s ease-in-out 0s; /* Prevent default yellow flash */
}
